body {
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80");
    background-size: cover;
}

#myContainer {
    margin: 50px auto;
    padding: 20px;
    color: #1ab2a8;
    box-sizing: border-box;
    max-width: 700px;
    background-image: linear-gradient(#ffffff, #d1f0ee);
    position: relative;
    border-radius: 3%;
    box-shadow: 2px -3px 5px #EDE8DC;
}

#myCity {
    color: #1ab2a8;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.sunlarge {
    font-size: 72px;
    border-radius: 50%;
    background: #1ab2a8;
}

#bigrow {
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

#forecast {
    position: relative;
    margin-left: 10px;
}

.searchbutton {
    margin: 0 auto;
    color: #ffffff;
    font-size: 14px;
    background: #1ab2a8;
    padding: 5px 2px;
    box-shadow: 1px 1px 1px #d1f0ee;
    border: 2px solid;
    border-color: #1ab2a8;
    border-radius: 2px;
    transition: all 150ms ease-in-out;
}

.searchbutton:hover {
    background: #ffffff;
    color: #1ab2a8;
    border-color: #1ab2a8;
    box-shadow: 1px 1px 1px #d1f0ee;
    cursor: pointer;
}

.cityinput {
    border: 3px solid;
    color: #1ab2a8;
    border-radius: 3%;
    border-color: #d1f0ee;
}

.todaytemp {
    font-size: 48px;
    font-weight: bold;
}

.card-title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#daysofweek {
    border: 1px solid;
    border-color: #d1f0ee;
    margin: 2px;
    margin-top: 10px;
}

.item1 {
    background: #d1f0ee;
    margin: 2px;
    padding: 5px;
    border: 2px solid;
    border-color: #d1f0ee;
    font-weight: bold;
    text-align: center;
}

.emoji {
    margin: 5px;
    border: 0px;
    font-size: 20px;
    text-align: center;
}

.item2 {
    margin: 2px;
    border: 0px;
    text-align: center;
}

#list-group {
    padding: 0;
}

#signature {
    color: #404345;
    text-align: center;
    font-size: 12px;
    margin-top: -30px;
    font-weight: bold;

}

.link {
    color: #404345;
    font-weight: bold;
    text-decoration: underline;
}

#current-time {
    font-size: 42px;
    font-weight: bold;
}